.wxchtf-aside {
  flex: none;
  width: 300px;
  border-right: $border;
  display: flex;
  flex-flow: column nowrap;

  .wxchtf-chat-list.ant-menu {
    flex: 1 1 auto;
    height: 100px;
    overflow-y: auto;

    @include scrollbar();

    .ant-menu-item {
      padding: 0;
      height: unset;
      margin: 0;
      width: 100%;
      border-radius: 0;
      line-height: 1.5;
      border-top: $border;

      &:first-child {
        border-top: none;
      }

      &.ant-menu-item-selected .wxchtf-chat-name {
        font-weight: 600;
      }

      .wxchtf-chat {
        padding: 0.5rem 1rem;
        position: relative;

        &.--unread {
          .wxchtf-chat-last {
            font-weight: bold;
          }
        }

        .wxchtf-chat-name {
          font-weight: bold;
          display: inline-block;
        }

        .wxchtf-unread-count {
          display: inline-block;
          padding: 0.2rem;
          min-width: 1rem;
          height: 1.2rem;
          line-height: 0.7rem;
          margin-left: 0.5rem;
          border-radius: 50%;
          text-align: center;
          font-size: 0.7rem;
          background: $unreadCountBackground;
        }

        .wxchtf-chat-last {
          $size: 25px;

          font-style: italic;
          opacity: 0.75;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: $size;

          .wxchtf-chat-last-author {
            display: inline-block;
            margin-right: 0.5rem;

            .ant-avatar {
              display: inline-block;
              border: none;
              margin-right: 5px;

              @include avatarSize($size);
            }

            &::after {
              content: ':';
            }
          }

          .wxchtf-chat-last-message {
            display: inline;
          }
        }
      }
    }
  }
}
