@use './variables.scss' as vars;
@use './mixins.scss' as mixins;

.wxchtf-aside {
  flex: none;
  display: flex;
  flex-flow: column nowrap;
  background: #ffffff;
  border-top-left-radius: vars.$radius;
  border-bottom-left-radius: vars.$radius;
  padding-top: 15px;
  width: 320px;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: calc(100% - 10px);
    height: 20px;
    z-index: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  }
}
