.wxchtf-chatify {
  .wxchtf-chat-panel {
    flex: auto;
    display: flex;
    flex-flow: row nowrap;

    .wxchtf-chat-main {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;

      .wxchtf-chat-header {
        border-bottom: $border;
        padding: 0.5rem 1rem;

        .wxchtf-chat-name {
          font-weight: 600;
          flex: none;

          &.--editable {
            cursor: pointer;
          }
        }
      }

      .wxchtf-chat-body {
        flex: 1 1 auto;
        height: 100px;
        overflow-y: auto;
        background: $chatBodyBackground;
        padding: 2rem 1rem;
        display: flex;
        flex-flow: column-reverse nowrap;

        @include scrollbar();

        @media only screen and (min-width: 1120px) {
          padding-right: 30%;
        }

        .wxchtf-message,
        .wxchtf-sending-message {
          display: flex;
          flex-flow: row nowrap;
          width: 100%;
          align-items: flex-end;

          &.--my {
            direction: rtl;
            justify-content: flex-start;

            .wxchtf-message-author {
              margin-right: 0;
              margin-left: 15px;
            }

            .wxchtf-message-content,
            .wxchtf-sending-message-content {
              direction: ltr;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 0;
              background-color: $myMessageBackground;
            }
          }

          .wxchtf-message-author {
            margin-right: 15px;

            .ant-avatar {
              @include avatarSize($avatarSize);
              box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            }
          }

          .wxchtf-message-content,
          .wxchtf-sending-message-content {
            min-width: 300px;
            max-width: 70%;
            border-radius: $messageBorderRadius;
            padding: 0.75rem 1rem;
            background: white;
            border-bottom-left-radius: 0;
            background-color: $messageBackground;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            display: block;
            white-space: pre-wrap;
            overflow-wrap: break-word;

            .wxchtf-message-info-box,
            .wxchtf-sending-message-info-box {
              text-align: right;

              .wxchtf-message-sent-at,
              .wxchtf-message-read-box,
              .wxchtf-sending-message-sending-box {
                display: inline-block;
                font-style: italic;
                font-size: 0.75em;
                margin-top: 0.5rem;
                opacity: 0.5;
              }

              .wxchtf-message-read-box,
              .wxchtf-sending-message-sending-box {
                margin-left: 5px;
              }
            }
          }
        }

        .wxchtf-system-message {
          font-style: italic;
          position: relative;
          text-align: center;

          .wxchtf-text,
          .wxchtf-timestamp {
            display: inline-block;
            opacity: 0.9;
            font-size: 0.85em;
          }

          .wxchtf-timestamp {
            margin-left: 1rem;
          }
        }

        .wxchtf-message,
        .wxchtf-sending-message,
        .wxchtf-system-message,
        .wxchtf-message-skeleton {
          margin-bottom: 2rem;

          &:first-child {
            margin-bottom: 0;
          }
        }

        .wxchtf-message-skeleton {
          display: flex;
          flex-flow: row nowrap;
          align-items: flex-end;

          .wxchtf-avatar {
            margin-right: 15px;
          }

          .wxchtf-avatar .ant-skeleton-avatar {
            width: $avatarSize;
            height: $avatarSize;
            line-height: $avatarSize;
          }

          .wxchtf-content {
            width: 300px;
            height: 100px;
            border-radius: $messageBorderRadius;
            border-bottom-left-radius: 0;
          }
        }
      }

      .wxchtf-input-form {
        flex: none;
        max-height: 300px;
        display: flex;
        flex-flow: column nowrap;

        .wxchtf-input-box {
          flex: none;
          display: flex;
          flex-flow: row nowrap;
          padding: 1rem 0;
          border-top: $border;

          @mixin iconBtn {
            flex: none;
            display: flex;
            padding: 0 1rem;
            align-items: flex-end;

            .ant-btn.ant-btn-icon-only .anticon {
              font-size: 1.5rem;
            }
          }

          .wxchtf-add-files-box {
            @include iconBtn();
          }

          .wxchtf-text-input-box {
            flex: auto;

            textarea {
              resize: none;
              border: none;
              outline: none;
              box-shadow: none;

              @include scrollbar();
            }
          }

          .wxchtf-submit-btn-box {
            @include iconBtn();
          }
        }
      }
    }

    .wxchtf-chat-members-panel {
      min-width: 300px;
      border-left: $border;

      .wxchtf-chat-members-list {
        .wxchtf-chat-members-list-item {
          padding-inline: 1rem;
        }
      }
    }
  }
}
