@use './variables.scss' as vars;
@use './mixins.scss' as mixins;
@use './keyframes.scss';
@use './aside.scss';
@use './chat.scss';
@use './input.scss';
@use './members.scss';
@use './chat-list.scss';
@use './conversation.scss';

.wxchtf-message.--my .wxchtf-file-list .wxchtf-file {
  background-color: darken($color: vars.$myMessageBackground, $amount: 3%);
}

.wxchtf-message .wxchtf-message-text + .wxchtf-file-list {
  margin-top: 1rem;
}

.wxchtf-message .wxchtf-file-list {
  .wxchtf-file {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
    background-color: darken($color: vars.$messageBackground, $amount: 3%);
    border-radius: 15px;
    padding: 0.5rem;

    .wxchtf-file-info {
      min-width: 0;
    }

    .wxchtf-size {
      color: vars.$strokeColor;
      font-size: 0.8rem;
    }

    .wxchtf-name {
      font-size: 0.9rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .ant-btn {
      border: 2px solid vars.$linkColor;
      border-radius: 50%;

      &:hover {
        border-color: lighten($color: vars.$linkColor, $amount: 15%);
      }
    }

    & + .wxchtf-file {
      margin-top: 1rem;
    }
  }
}

.wxchtf-chatify {
  display: flex;
  flex-flow: column nowrap;
  background: vars.$background;
  border-radius: vars.$radius;

  .wxchtf-header {
    min-height: 2rem;
  }

  .wxchtf-body {
    flex: 1 0;
    display: flex;
    flex-flow: row nowrap;
  }

  .wxchtf-footer {
    min-height: 2rem;
  }

  .wxchtf-add-btn-wrapper {
    width: 100%;
    text-align: right;
    padding-inline: 0.5rem;
    margin-bottom: 1rem;

    .wxchtf-add-btn {
      border: none;
      background-color: #e4f7f7;
      height: 50px;
      padding: 0;
      line-height: 50px;
      min-width: 150px;
      border-radius: 50px;
      font-weight: 600;
      opacity: 0.9;
      box-shadow: none;
    }
  }
}

.wxchtf-main {
  flex: auto;
  display: flex;
  flex-flow: column nowrap;
  border-top-right-radius: vars.$radius;
  border-bottom-right-radius: vars.$radius;
  box-shadow: 0px 6px 30px 0px #0cd9e214, 0px 1px 12px 0px #006e720f;
  z-index: 2;
  min-width: 0;

  .wxchtf-create-chat-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    .wxchtf-create-chat-panel-close {
      position: absolute;
      right: 25px;
      top: 25px;
    }

    form {
      padding: 2rem;
      max-width: 700px;
      width: 100%;

      .wxchtf-create-chat-member-input-list {
        max-height: 15rem;
        overflow-y: auto;
        @include mixins.scrollbar();

        .ant-list-item {
          padding-inline: 0.5rem;

          &.--selected {
            background-color: #e6f4ff;
          }

          .ant-checkbox-wrapper {
            width: 100%;

            & > span:last-child {
              flex: 1;

              .ant-list-item-meta {
                align-items: center;

                .ant-list-item-meta-content h4 {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
