$borderColor: #ddd;
$border: 1px solid #ddd;
$background: white;
$strokeColor: #0e0f1740;
$radius: 24px;
$messageBackground: #f5f5f5;
$myMessageBackground: #e4f7f7;
$unreadCountBackground: #ffa726;
$primaryColor: #0cd9e2;
$avatarSize: 40px;
$messageBorderRadius: 10px;
$messageBoxWidth: 1110px;
$linkColor: #1677ff;
