html {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh;
  font-family: 'Roboto';
  font-size: 15px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.layout {
  background-color: #eee;
  min-height: 100vh;
}

.wxchtf-chatify {
  height: calc(100vh - 4rem - 70px);
}

.wxchtf-audit-panel {
  height: calc(100vh - 4rem - 70px);
}

.wxchtf-chatify.modal {
  height: 100vh;
  min-width: 400px;
}

* {
  box-sizing: border-box;
}

.user-select-box {
  height: calc(100vh - 4rem);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.user-select-box .user-select {
  width: 350px;
}

.--debug .wxchtf-debug {
  height: calc(100vh - 4rem - 70px);
  overflow: auto;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
  padding-inline: 2rem;
  padding-block: 0.5rem;
}

header .nav {
  margin-left: auto;
}

header .nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

header .user-info {
  height: 50px;
  line-height: 50px;
}

header .user-info .name {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
}

header .unread {
  margin-left: 2rem;
}

main {
  margin: 2rem;
}

.create-thread-page {
  width: 700px;
}

.page.card {
  background-color: white;
  margin: auto;
  padding: 2rem;
}

.thread-page .wxchtf-chatify {
  max-width: 800px;
  margin-inline: auto;
}

.clickable {
  cursor: pointer;
}

.ant-card.clickable:hover {
  background-color: #fafafa;
}
