$borderColor: #ddd;
$border: 1px solid #ddd;
$background: white;
$radius: 4px;
$chatBodyBackground: #f5f5f5;
$messageBackground: #e1f5fe;
$myMessageBackground: #b9f6ca;
$unreadCountBackground: #ffa726;
$avatarSize: 40px;
$messageBorderRadius: 10px;
